body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f7d528;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

header .back-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 100px); /* Ocupa toda la altura menos el header */
}

.large-letter {
    font-size: 4em; 
    font-weight: bold;
    color: #f7d528;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 17px; /* Aumenta el margen inferior para bajarlo */
    position: relative; 
}


.video-container {
    position: relative;
    width: 95%; /* Video ocupa el 80% del ancho */
    height: 65%; /* El video ocupa el 50% de la altura de la pantalla */
    max-width: 600px;
    margin-top: 16px; /* Espacio entre la letra y el video */
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#sound-btn {
    margin-top: 10px;
    position: absolute;
    top: 50px; /* Espacio desde la parte superior del header */
    left: 20px; /* Espacio desde el borde izquierdo */
    background-color: #f7d528;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sound-btn img {
    width: 20px;
    height: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f7d528;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
