<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alimentos.css') }}">
</head>
<body>
    <header>
        <button class="back-btn" onclick="window.history.back()">←</button>
        <h1>Alimentos</h1>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
    </header>

    <main>
        <div class="card-grid">
            {% for alimento in ["arroz", "carne", "chocolate", "dulce", "galleta", "huevo", "pan", "pizza", "queso", "sopa", "tallarines", "yogur"] %}
            <a href="{{ url_for('mostrar_alimento', alimento=alimento) }}" class="card">
                <div class="card">
                    <div class="large-letter">{{ alimento.capitalize() }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>Curiosamente - Elaborado para el curso de Interacción Humano Computador</p>
    </footer>
</body>
</html>
