<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosamente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        setTimeout(() => {
            window.location.href = "{{ url_for('home') }}";
        }, 2000);
    </script>
</head>
<body>
    <div class="container">
        <h1>Curiosamente</h1>
        <p>"Sin barreras"</p>
    </div>
</body>
</html>
